In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("20395AA3-4EE0-3D1D-A6E0-01E71AADCCA1.csv")

In [3]:
data

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2017,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"16,368,000",NaN
1,SURVEY,2017,YEAR,NaN,STATE,ALASKA,2,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"550,000",NaN
2,SURVEY,2017,YEAR,NaN,STATE,ARIZONA,4,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"834,332,000",NaN
3,SURVEY,2017,YEAR,NaN,STATE,ARKANSAS,5,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"14,399,000",NaN
4,SURVEY,2017,YEAR,NaN,STATE,CALIFORNIA,6,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"6,561,720,000",NaN
5,SURVEY,2017,YEAR,NaN,STATE,COLORADO,8,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"754,227,000",NaN
6,SURVEY,2017,YEAR,NaN,STATE,CONNECTICUT,9,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"77,979,000",NaN
7,SURVEY,2017,YEAR,NaN,STATE,DELAWARE,10,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"16,157,000",NaN
8,SURVEY,2017,YEAR,NaN,STATE,FLORIDA,12,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"535,350,000",NaN
9,SURVEY,2017,YEAR,NaN,STATE,GEORGIA,13,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"348,080,000",NaN
10,SURVEY,2017,YEAR,NaN,STATE,HAWAII,15,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"11,068,000",NaN
11,SURVEY,2017,YEAR,NaN,STATE,IDAHO,16,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"2,510,340,000",NaN
12,SURVEY,2017,YEAR,NaN,STATE,ILLINOIS,17,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"350,811,000",NaN
13,SURVEY,2017,YEAR,NaN,STATE,INDIANA,18,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"749,949,000",NaN
14,SURVEY,2017,YEAR,NaN,STATE,IOWA,19,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"933,236,000",NaN
15,SURVEY,2017,YEAR,NaN,STATE,KANSAS,20,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"588,627,000",NaN
16,SURVEY,2017,YEAR,NaN,STATE,KENTUCKY,21,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"195,615,000",NaN
17,SURVEY,2017,YEAR,NaN,STATE,LOUISIANA,22,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"29,359,000",NaN
18,SURVEY,2017,YEAR,NaN,STATE,MAINE,23,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"123,948,000",NaN
19,SURVEY,2017,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"168,210,000",NaN
20,SURVEY,2017,YEAR,NaN,STATE,MASSACHUSETTS,25,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"39,292,000",NaN
21,SURVEY,2017,YEAR,NaN,STATE,MICHIGAN,26,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,836,144,000",NaN
22,SURVEY,2017,YEAR,NaN,STATE,MINNESOTA,27,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,738,170,000",NaN
23,SURVEY,2017,YEAR,NaN,STATE,MISSISSIPPI,28,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"25,326,000",NaN
24,SURVEY,2017,YEAR,NaN,STATE,MISSOURI,29,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"227,953,000",NaN
25,SURVEY,2017,YEAR,NaN,STATE,MONTANA,30,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"49,525,000",NaN
26,SURVEY,2017,YEAR,NaN,STATE,NEBRASKA,31,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"261,716,000",NaN
27,SURVEY,2017,YEAR,NaN,STATE,NEVADA,32,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"125,837,000",NaN
28,SURVEY,2017,YEAR,NaN,STATE,NEW HAMPSHIRE,33,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"50,406,000",NaN
29,SURVEY,2017,YEAR,NaN,STATE,NEW JERSEY,34,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"21,411,000",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,SURVEY,2014,YEAR,NaN,STATE,MASSACHUSETTS,25,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"60,291,000",NaN
171,SURVEY,2014,YEAR,NaN,STATE,MICHIGAN,26,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"2,309,503,000",NaN
172,SURVEY,2014,YEAR,NaN,STATE,MINNESOTA,27,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"2,237,456,000",NaN
173,SURVEY,2014,YEAR,NaN,STATE,MISSISSIPPI,28,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"49,848,000",NaN
174,SURVEY,2014,YEAR,NaN,STATE,MISSOURI,29,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"335,052,000",NaN
175,SURVEY,2014,YEAR,NaN,STATE,MONTANA,30,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"65,120,000",NaN
176,SURVEY,2014,YEAR,NaN,STATE,NEBRASKA,31,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"297,000,000",NaN
177,SURVEY,2014,YEAR,NaN,STATE,NEVADA,32,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"169,632,000",NaN
178,SURVEY,2014,YEAR,NaN,STATE,NEW HAMPSHIRE,33,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"72,520,000",NaN
179,SURVEY,2014,YEAR,NaN,STATE,NEW JERSEY,34,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"31,125,000",NaN
180,SURVEY,2014,YEAR,NaN,STATE,NEW MEXICO,35,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,798,049,000",NaN
181,SURVEY,2014,YEAR,NaN,STATE,NEW YORK,36,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"3,476,752,000",NaN
182,SURVEY,2014,YEAR,NaN,STATE,NORTH CAROLINA,37,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"245,435,000",NaN
183,SURVEY,2014,YEAR,NaN,STATE,NORTH DAKOTA,38,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"75,048,000",NaN
184,SURVEY,2014,YEAR,NaN,STATE,OHIO,39,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,329,138,000",NaN
185,SURVEY,2014,YEAR,NaN,STATE,OKLAHOMA,40,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"186,221,000",NaN
186,SURVEY,2014,YEAR,NaN,STATE,OREGON,41,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"649,953,000",NaN
187,SURVEY,2014,YEAR,NaN,STATE,PENNSYLVANIA,42,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"2,723,686,000",NaN
188,SURVEY,2014,YEAR,NaN,STATE,RHODE ISLAND,44,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"4,462,000",NaN
189,SURVEY,2014,YEAR,NaN,STATE,SOUTH CAROLINA,45,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"70,980,000",NaN
190,SURVEY,2014,YEAR,NaN,STATE,SOUTH DAKOTA,46,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"519,688,000",NaN
191,SURVEY,2014,YEAR,NaN,STATE,TENNESSEE,47,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"190,920,000",NaN
192,SURVEY,2014,YEAR,NaN,STATE,TEXAS,48,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"2,529,372,000",NaN
193,SURVEY,2014,YEAR,NaN,STATE,UTAH,49,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"514,527,000",NaN
194,SURVEY,2014,YEAR,NaN,STATE,VERMONT,50,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"676,005,000",NaN
195,SURVEY,2014,YEAR,NaN,STATE,VIRGINIA,51,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"478,170,000",NaN
196,SURVEY,2014,YEAR,NaN,STATE,WASHINGTON,53,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,620,073,000",NaN
197,SURVEY,2014,YEAR,NaN,STATE,WEST VIRGINIA,54,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"33,672,000",NaN
198,SURVEY,2014,YEAR,NaN,STATE,WISCONSIN,55,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"6,745,095,000",NaN
199,SURVEY,2014,YEAR,NaN,STATE,WYOMING,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,MILK,"MILK - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"29,952,000",NaN